<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            编号：<input type="text" name="eid"/>
                        </li>
                        <li>
                            电池1电压：<input type="text" name="bvoltage"/>
                        </li>
                        <li>
                            电池组电压：<input type="text" name="bpvoltage"/>
                        </li>
                        <li>
                            充电电流：<input type="text" name="ccurrent"/>
                        </li>
                        <li>
                            负载电流：<input type="text" name="lcurrent"/>
                        </li>
                        <li>
                            输出电压：<input type="text" name="ovoltage"/>
                        </li>
                        <li>
                            外部电源电压：<input type="text" name="epsvoltage"/>
                        </li>
                        <li>
                            太阳能电压：<input type="text" name="svoltage"/>
                        </li>
                        <li>
                            工作温度：<input type="text" name="workingtemperature"/>
                        </li>
                        <li>
                            充电状态：<input type="text" name="cstate"/>
                        </li>
                        <li>
                            工作状态：<input type="text" name="workingstatu"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="iot:energyinfo:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="iot:energyinfo:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="iot:energyinfo:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="iot:energyinfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('iot:energyinfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('iot:energyinfo:remove')}]];
    var prefix = ctx + "iot/energy";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            //sortName: "energySort",
            modalName: "能源管理终端",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'eid',
                    title: '编号'
                },
                {
                    field: 'bvoltage',
                    title: '电池1电压',
                    sortable: true
                },
                {
                    field: 'bpvoltage',
                    title: '电池组电压',
                    sortable: true
                },
                {
                    field: 'ccurrent',
                    title: '充电电流',
                    sortable: true
                },
                {
                    field: 'lcurrent',
                    title: '负载电流',
                    sortable: true
                },
                {
                    field: 'ovoltage',
                    title: '输出电压',
                    sortable: true
                },
                {
                    field: 'epsvoltage',
                    title: '外部电源电压',
                    sortable: true
                },
                {
                    field: 'svoltage',
                    title: '太阳能电压',
                    sortable: true
                },
                {
                    field: 'workingtemperature',
                    title: '工作温度',
                    sortable: true
                },
                {
                    field: 'cstate',
                    title: '充电状态',
                    sortable: true
                },
                {
                    field: 'workingstatu',
                    title: '工作状态',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.eid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.eid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>