<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            编号：<input type="text" name="wid"/>
                        </li>
                        <li>
                            类型：<input type="text" name="type"/>
                        </li>
                        <li>
                            地域：<input type="text" name="area"/>
                        </li>
                        <li>
                            温度：<input type="text" name="temperature"/>
                        </li>
                        <li>
                            色度：<input type="text" name="color"/>
                        </li>
                        <li>
                            浊度：<input type="text" name="turbidity"/>
                        </li>
                        <li>
                            PH值：<input type="text" name="PH"/>
                        </li>
                        <li>
                            电导率：<input type="text" name="electric"/>
                        </li>
                        <li>
                            悬浮物：<input type="text" name="seston"/>
                        </li>
                        <li>
                            溶解氧：<input type="text" name="oxygen"/>
                        </li>
                        <li>
                            有毒物质：<input type="text" name="poison"/>
                        </li>
                        <li>
                            创建者：<input type="text" name="creator"/>
                        </li>
                        <li>
                            <input class="laydate-icon  layer-date"
                                   name="creatime"
                                   id="creatime"
                                   value=""
                                   readonly="readonly"
                                   style="width:120px;"
                                   placeholder="创建时间"
                                   title="创建时间"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="iot:waterinfo:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="iot:waterinfo:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="iot:waterinfo:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="iot:waterinfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('iot:waterinfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('iot:waterinfo:remove')}]];
    var prefix = ctx + "iot/water";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "wid",
            modalName: "水质检测",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'wid',
                    title: '编号'
                },
                {
                    field: 'type',
                    title: '类型',
                    sortable: true
                },
                {
                    field: 'area',
                    title: '地域',
                    sortable: true
                },
                {
                    field: 'temperature',
                    title: '温度',
                    sortable: true
                },
                {
                    field: 'color',
                    title: '色度',
                    sortable: true
                },
                {
                    field: 'turbidity',
                    title: '浊度',
                    sortable: true
                },
                {
                    field: 'PH',
                    title: 'PH值',
                    sortable: true
                },
                {
                    field: 'electric',
                    title: '电导率',
                    sortable: true
                },
                {
                    field: 'seston',
                    title: '悬浮物',
                    sortable: true
                },
                {
                    field: 'oxygen',
                    title: '溶解氧',
                    sortable: true
                },
                {
                    field: 'poison',
                    title: '有毒物质',
                    sortable: true
                },
                {
                    field: 'creator',
                    title: '创建者',
                    sortable: true
                },
                {
                    field: 'creatime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.wid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.wid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
<script th:src="@{/js/plugins/layer/laydate/laydate.js}"></script>
<script th:src="@{/js/plugins/layer/layui-v2.4.5/layui/layui.js}"></script>
<!--时间插件-->
<script>
    laydate({
        elem:"#datetime",
        event:"focus"
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem:"#iot",
            type: 'time',
        });
    });
</script>
</body>
</html>