<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            编号：<input type="text" name="pid"/>
                        </li>
                        <li>
                            监测时间：<input type="time" name="monitortime"/>
                        </li>
                        <li>
                            监测地点：<input type="text" name="location"/>
                        </li>
                        <li>
                            重金属含量：<input type="text" name="Hmental"/>
                        </li>
                        <li>
                            ph值：<input type="text" name="ph"/>
                        </li>
                        <li>
                            电导率：<input type="text" name="econdu"/>
                        </li>
                        <li>
                            更新时间：<input type="time" name="updatetime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="iot:blowdowninfo:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="iot:blowdowninfo:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="iot:blowdowninfo:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="iot:blowdowninfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('iot:blowdowninfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('iot:blowdowninfo:remove')}]];
    var prefix = ctx + "iot/blowdown";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
           // sortName: "blowdownSort",
            modalName: "排污监测",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'pid',
                    title: '编号'
                },
                {
                    field: 'monitortime',
                    title: '监测时间',
                    sortable: true
                },
                {
                    field: 'location',
                    title: '监测地点',
                    sortable: true
                },
                {
                    field: 'Hmental',
                    title: '重金属含量',
                    sortable: true
                },
                {
                    field: 'ph',
                    title: 'PH值',
                    sortable: true
                },
                {
                    field: 'econdu',
                    title: '电导率',
                    sortable: true
                },
                {
                    field: 'updatetime',
                    title: '更新时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.pid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.pid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>