<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.BlowdownMapper">
    <resultMap type="Blowdown" id="BlowdownResult">
        <id property="pid"    column="pid"    />
        <result property="monitortime"    column="monitortime"    />
        <result property="location"    column="location"    />
        <result property="Hmental"    column="Hmental"    />
        <result property="ph"    column="ph"    />
        <result property="econdu"    column="econdu"    />
        <result property="updatetime" column="updatetime" />
    </resultMap>

    <!--定义selectBlowdown为查询整表命令-->
    <sql id="selectBlowdown">
    select pid,monitortime,location,Hmental,ph,econdu from iot_blowdown
</sql>
    <!--统计表中记录数
    <select id="countall" resultType="Integer">
        select
               count(*)
        from iot_led
    </select>
    -->
    <!--查询表的所有列表信息-->
    <select id="selectBlowdownList" parameterType="Blowdown" resultMap="BlowdownResult">
        <include refid="selectBlowdown"/>
        <where>
            <if test="pid != null and pid != ''">
                AND pid like concat('%', #{pid}, '%')
            </if>
        </where>
        <!--<where>
            <if test="pid != null and pid='' "> and pid = #{pid}</if>
            <if test="location != null  and location != '' "> and location = #{location}</if>
            <if test="Hmental != null  and Hmental != '' "> and Hmental = #{Hmental}</if>
            <if test="ph != null  and ph != '' "> and ph = #{ph}</if>
            <if test="econdu != null  and econdu != '' "> and econdu = #{econdu}</if>
        </where>
        order by pid desc
        -->
    </select>

    <!--根据id查询信息-->
    <select id="selectBypid" parameterType="String" resultMap="BlowdownResult">
        <include refid="selectBlowdown"/>
        where pid=#{pid}
        <!-- select
         a.pid as pid,
         a.location as location,
         a.Hmental as Hmental,
         a.ph as ph,
         a.econdu as econdu
         from iot_led a
         -->
        <!--
        <where>
            <if test="pid != null  and pid != '' ">and a.pid like CONCAT(#{pid},'%')</if>
            <if test="aname != null  and aname != '' ">and a.aname like CONCAT('%',#{aname},'%')</if>
        </where>
        -->
    </select>
    <!--向表中插入新数据-->
    <insert id="insertBlowdown" parameterType="com.ruoyi.iot.domain.Blowdown">
        insert into iot_blowdown
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="pid != null and pid!='' ">pid,</if>
        <if test="location != null  and location != ''  ">location,</if>
        <if test="Hmental != null  and Hmental != ''  ">Hmental,</if>
        <if test="ph != null  and ph != ''  ">ph,</if>
        <if test="econdu != null  and econdu != ''  ">econdu,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
        <if test="pid != null and pid!='' ">#{pid},</if>
        <if test="location != null  and location != ''  ">#{location},</if>
        <if test="Hmental != null  and Hmental != ''  ">#{Hmental},</if>
        <if test="ph != null  and ph != ''  ">#{ph},</if>
        <if test="econdu != null  and econdu != ''  ">#{econdu},</if>
        </trim>
    </insert>
    <!--更新数据-->
    <update id="updateBlowdown" parameterType="Blowdown">
        update iot_blowdown
        <set>
            <if test="pid !=null and pid !=''">pid = #{pid},</if>
            <if test="location != null  and location != ''  ">location = #{location},</if>
            <if test="Hmental != null  and Hmental != ''  ">Hmental = #{Hmental},</if>
            <if test="ph != null  and ph != ''  ">ph = #{ph},</if>
            <if test="econdu != null  and econdu != ''  ">econdu = #{econdu},</if>
            updatetime= sysdate()
        </set>
        where pid = #{pid}
    </update>

    <!--根据id删除-->
    <delete id="deleteBlowdownByid" parameterType="String">
        delete from iot_blowdown where pid = #{pid}
    </delete>

    <!--批量删除-->
    <delete id="deleteBlowdownByids" parameterType="String">
        delete from iot_blowdown where pid in
        <foreach item="pid" collection="array" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </delete>

</mapper>