<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.BoardMapper">

    <resultMap type="Board" id="BoardResult">
        <id property="board_id"    column="board_id"    />
        <result property="control"    column="control"    />
        <result property="working"    column="working"    />
    </resultMap>

    <!--定义selectBoard为查询整表命令-->
    <sql id="selectBoard">
    select board_id,control,working from iot_board
    </sql>
    <!--统计表中记录数
    <select id="countall" resultType="Integer">
        select
               count(*)
        from iot_led
    </select>
    -->

    <!--查询表的所有列表信息-->
    <select id="selectBoardList" parameterType="Board" resultMap="BoardResult">
        <include refid="selectBoard"/>
        <!--<where>
            <if test="board_id != null and board_id='' "> and board_id = #{board_id}</if>
            <if test="control!= null  and control!= '' "> and control= #{control}</if>
            <if test="working != null  and working != '' "> and working = #{working}</if>
            <if test="screen_wide != null  and screen_wide != '' "> and screen_wide = #{screen_wide}</if>
            <if test="screen_high != null  and screen_high != '' "> and screen_high = #{screen_high}</if>
            <if test="screen_status != null  and screen_status != '' "> and screen_status = #{screen_status}</if>
        </where>
        order by board_id desc
        -->
    </select>

    <!--根据ID查询信息-->
    <select id="selectBoardById" parameterType="String" resultMap="BoardResult">
        <include refid="selectBoard"/>
        where board_id=#{board_id}
        <!-- select
         a.board_id as board_id,
         a.control as control,
         a.working as working,
         a.screen_wide as screen_wide,
         a.screen_high as screen_high,
         a.screen_status as screen_status
         from iot_led a
         -->
        <!--
        <where>
            <if test="board_id != null  and board_id != '' ">and a.board_id like CONCAT(#{board_id},'%')</if>
            <if test="aname != null  and aname != '' ">and a.aname like CONCAT('%',#{aname},'%')</if>
        </where>
        -->
    </select>

    <!--向表中插入新数据-->
    <insert id="insertBoard" parameterType="Board">
        insert into iot_board
        (
        <if test="board_id != null and board_id!='' ">board_id,</if>
        <if test="control!= null  and control!= ''  ">control,</if>
        <if test="working != null  and working != ''  ">working,</if>
        )
        values(
        <if test="board_id != null and board_id!='' ">#{board_id},</if>
        <if test="control != null  and control != ''  ">#{control},</if>
        <if test="working != null  and working != ''  ">#{working},</if>
        )
    </insert>

    <!--更新数据-->
    <update id="updateBoard" parameterType="Board">
        update iot_board
        <set>
            <if test="board_id != null and board_id !=''">board_id = #{board_id},</if>
            <if test="control != null  and control != ''  ">control = #{control},</if>
            <if test="working != null  and working != ''  ">working = #{working},</if>
        </set>
        where board_id = #{board_id}
    </update>

    <!--根据ID删除-->
    <delete id="deleteBoardById" parameterType="String">
        delete from iot_board where board_id = #{board_id}
    </delete>

    <!--批量删除
    <delete id="deleteBoardByIds" parameterType="String">
        delete from iot_board where board_id in
        <foreach item="board_id" collection="array" open="(" separator="," close=")">
            #{board_id}
        </foreach>
    </delete>
     -->

</mapper>