<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.EnvironlMapper">
    <resultMap type="Environl" id="EnvironlResult">
        <id property="hid"    column="hid"    />
        <result property="ambient_temperature"    column="ambient_temperature"    />
        <result property="ambient_humidity"    column="ambient_humidity"    />
        <result property="wind_speed"    column="wind_speed"    />
        <result property="wind_direction"    column="wind_direction"    />
        <result property="light_intensity"    column="light_intensity"    />
        <result property="atmospheric_pressure"  column="atmospheric_pressure"  />
        <result property="pm" column="pm" />
        <result property="ppm" column="ppm" />
        <result property="device_status" column="device_status" />
    </resultMap>

    <!--定义selectEnvironl为查询整表命令-->
    <sql id="selectEnvironl">
    select hid,ambient_temperature,ambient_humidity,wind_speed,wind_direction,light_intensity,atmospheric_pressure,pm,ppm,device_status from iot_environl
    </sql>
    <!--统计表中记录数
    <select id="countall" resultType="Integer">
        select
               count(*)
        from iot_environl
    </select>
    -->
    <!--查询表的所有列表信息-->
    <select id="selectEnvironlList" parameterType="Environl" resultMap="EnvironlResult">
        <include refid="selectEnvironl"/>
        <where>
            <if test="hid != null and hid != ''">
                AND hid like concat('%', #{hid}, '%')
            </if>
        </where>
        <!--<where>
            <if test="hid != null and hid='' "> and hid = #{hid}</if>
            <if test="ambient_temperature!= null  and ambient_temperature!= '' "> and ambient_temperature= #{ambient_temperature}</if>
            <if test="ambient_humidity != null  and ambient_humidity != '' "> and ambient_humidity = #{ambient_humidity}</if>
            <if test="wind_speed != null  and wind_speed != '' "> and wind_speed = #{wind_speed}</if>
            <if test="wind_direction != null  and wind_direction != '' "> and wind_direction = #{wind_direction}</if>
            <if test="light_intensity != null  and light_intensity != '' "> and light_intensity = #{light_intensity}</if>
            <if test="atmospheric_pressure != null  and atmospheric_pressure != '' "> and atmospheric_pressure = #{atmospheric_pressure}</if>
            <if test="pm !=null and pm !='' ">and pm = #{pm}</if>
            <if test="ppm !=null and ppm !='' ">and ppm = #{ppm}</if>
            <if test="device_status !=null and device_status !='' ">and device_status = #{device_status}</if>
        </where>
        order by hid desc
        -->
    </select>

    <!--根据id查询信息-->
    <select id="selectByid" parameterType="String" resultMap="EnvironlResult">
        <include refid="selectEnvironl"/>
        where hid=#{hid}
        <!-- select
         a.hid as hid,
         a.ambient_temperature as ambient_temperature,
         a.ambient_humidity as ambient_humidity,
         a.wind_speed as wind_speed,
         a.wind_direction as wind_direction,
         a.light_intensity as light_intensity
         from iot_led a
         -->
        <!--
        <where>
            <if test="hid != null  and hid != '' ">and a.hid like CONCAT(#{hid},'%')</if>
            <if test="aname != null  and aname != '' ">and a.aname like CONCAT('%',#{aname},'%')</if>
        </where>
        -->
    </select>
    <!--向表中插入新数据-->
    <insert id="insertEnvironl" parameterType="com.ruoyi.iot.domain.Environl">
        insert into iot_environl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hid != null and hid !='' ">hid,</if>
            <if test="ambient_temperature != null  and ambient_temperature != ''  ">ambient_temperature,</if>
            <if test="ambient_humidity != null  and ambient_humidity != ''  ">ambient_humidity,</if>
            <if test="wind_speed != null  and wind_speed != ''  ">wind_speed,</if>
            <if test="wind_direction != null  and wind_direction != ''  ">wind_direction,</if>
            <if test="light_intensity != null  and light_intensity != ''  ">light_intensity,</if>
            <if test="atmospheric_pressure != null and atmospheric_pressure !='' ">atmospheric_pressure,</if>
            <if test="pm != null and pm != '' ">pm,</if>
            <if test="ppm != null and ppm !='' ">ppm,</if>
            <if test="device_status !=null and device_status !=''">device_status,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="hid != null and hid!='' ">#{hid},</if>
            <if test="ambient_temperature != null  and ambient_temperature != ''  ">#{ambient_temperature},</if>
            <if test="ambient_humidity != null  and ambient_humidity != ''  ">#{ambient_humidity},</if>
            <if test="wind_speed != null  and wind_speed != ''  ">#{wind_speed},</if>
            <if test="wind_direction != null  and wind_direction != ''  ">#{wind_direction},</if>
            <if test="light_intensity != null  and light_intensity != ''  ">#{light_intensity},</if>
            <if test="atmospheric_pressure !=null and atmospheric_pressure !='' ">#{atmospheric_pressure},</if>
            <if test="pm !=null and pm !='' ">#{pm},</if>
            <if test="ppm !=null and ppm !=''">#{ppm},</if>
            <if test="device_status !=null and device_status !=''">#{device_status},</if>
        </trim>
    </insert>
    <!--更新数据-->
    <update id="updateEnvironl" parameterType="Environl">
        update iot_environl
        <set>
            <if test="hid != null and hid !=''">hid = #{hid},</if>
            <if test="ambient_temperature != null  and ambient_temperature != ''  ">ambient_temperature = #{ambient_temperature},</if>
            <if test="ambient_humidity != null  and ambient_humidity != ''  ">ambient_humidity = #{ambient_humidity},</if>
            <if test="wind_speed != null  and wind_speed != ''  ">wind_speed = #{wind_speed},</if>
            <if test="wind_direction != null  and wind_direction != ''  ">wind_direction = #{wind_direction},</if>
            <if test="light_intensity != null  and light_intensity != ''  ">light_intensity = #{light_intensity},</if>
            <if test="atmospheric_pressure !=null and atmospheric_pressure != ''">atmospheric_pressure = #{atmospheric_pressure},</if>
            <if test="pm != null and pm != ''">pm = #{pm},</if>
            <if test="ppm != null and ppm !=''">ppm = #{ppm},</if>
            <if test="device_status !=null and device_status !='' ">device_status = #{device_status},</if>
        </set>
        where hid = #{hid}
    </update>

    <!--根据id删除-->
    <delete id="deleteEnvironlByid" parameterType="String">
        delete from iot_environl where hid = #{hid}
    </delete>

    <!--批量删除-->
    <delete id="deleteEnvironlByids" parameterType="String">
        delete from iot_environl where hid in
        <foreach item="hid" collection="array" open="(" separator="," close=")">
            #{hid}
        </foreach>
    </delete>

</mapper>