<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.LightMapper">
    <resultMap type="Light" id="LightResult">
        <id property="nid"    column="nid"    />
        <result property="atemperature"    column="atemperature"    />
        <result property="windspeed"    column="windspeed"    />
        <result property="current"    column="current"  />
        <result property="voltage"    column="voltage"    />
    </resultMap>
    <!--定义selectLight为查询整表命令-->
    <sql id="selectLight">
    select nid,atemperature,windspeed,current,voltage from iot_light
    </sql>
    <!--查询表的所有列表信息-->
    <select id="selectLightList" parameterType="Light" resultMap="LightResult">
        <include refid="selectLight"/>
    </select>
        <!--<where>
            <if test="nid != null and nid='' "> and nid = #{nid}</if>
            <if test="location != null  and location != '' "> and location = #{location}</if>
            <if test="windspeed != null  and windspeed != '' "> and windspeed = #{windspeed}</if>
            <if test="current != null  and current != '' "> and current = #{current}</if>
        </where>
        order by nid desc
        -->


    <!--根据id查询信息-->
    <select id="selectByid" parameterType="String" resultMap="LightResult">
        <include refid="selectLight"/>
        where nid=#{nid}
        <!-- select
         a.nid as nid,
         a.location as location,
         a.windspeed as windspeed,
         a.current as current,
         a.econdu as econdu
         from iot_led a
         -->
        <!--
        <where>
            <if test="nid != null  and nid != '' ">and a.nid like CONCAT(#{nid},'%')</if>
            <if test="aname != null  and aname != '' ">and a.aname like CONCAT('%',#{aname},'%')</if>
        </where>
        -->
    </select>
    <!--向表中插入新数据-->
    <insert id="insertLight" parameterType="Light">
        insert into iot_light
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="nid != null and nid!='' ">nid,</if>
        <if test="atemperature != null  and atemperature != ''  ">atemperature,</if>
        <if test="windspeed != null  and windspeed != ''  ">windspeed,</if>
        <if test="current != null  and current != ''  ">current,</if>
        <if test="voltage != null  and voltage != ''  ">voltage,</if>
        </trim>
        values<trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="nid != null and nid!='' ">#{nid},</if>
        <if test="atemperature != null  and atemperature != ''  ">#{atemperature},</if>
        <if test="windspeed != null  and windspeed != ''  ">#{windspeed},</if>
        <if test="current != null  and current != ''  ">#{current},</if>
        <if test="voltage != null  and voltage != ''  ">#{voltage},</if>
    </trim>
    </insert>
    <!--更新数据-->
    <update id="updateLight" parameterType="Light">
        update iot_light
        <set>
            <if test="nid !=null and nid !=''">nid = #{nid},</if>
            <if test="atemperature != null  and atemperature != ''  ">atemperature = #{atemperature},</if>
            <if test="windspeed != null  and windspeed != ''  ">windspeed = #{windspeed},</if>
            <if test="current != null  and current != ''  ">current = #{current},</if>
            <if test="voltage != null  and voltage != ''  ">voltage = #{voltage},</if>
        </set>
        where nid = #{nid}
    </update>

    <!--根据id删除-->
    <delete id="deleteLightByid" parameterType="String">
        delete from iot_light where nid = #{nid}
    </delete>

    <!--批量删除-->
    <delete id="deleteLightByids" parameterType="String">
        delete from iot_light where nid in
        <foreach item="nid" collection="array" open="(" separator="," close=")">
            #{nid}
        </foreach>
    </delete>


</mapper>