<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.WaterMapper">

    <resultMap type="Water" id="WaterResult">
        <result property="wid"    column="wid"    />
        <result property="type"    column="type"    />
        <result property="area"    column="area"    />
        <result property="temperature"    column="temperature"    />
        <result property="color"    column="color"    />
        <result property="turbidity"    column="turbidity"    />
        <result property="PH"  column="PH"  />

        <result property="seston" column="seston" />
        <result property="electric" column="electric" />

        <result property="oxygen" column="oxygen" />
        <result property="poison" column="poison" />
        <result property="creator" column="creator" />
        <result property="creatime" column="creatime" />
    </resultMap>

    <!--定义selectWater为查询整表命令-->
    <sql id="selectWater">
    select wid,type,area,temperature,color,turbidity,PH,seston,electric,oxygen,poison,creator,creatime from iot_water
    </sql>
    <!--统计表中记录数
    <select id="countall" resultType="Integer">
        select
               count(*)
        from iot_environl
    </select>
    -->

    <!--查询表的所有列表信息-->
    <select id="selectWaterList" parameterType="Water" resultMap="WaterResult">
        <include refid="selectWater"/>
        <!--<where>
            <if test="wid != null and wid='' "> and wid = #{wid}</if>
            <if test="type!= null  and type!= '' "> and type= #{type}</if>
            <if test="area != null  and area != '' "> and area = #{area}</if>
            <if test="temperature != null  and temperature != '' "> and temperature = #{temperature}</if>
            <if test="color != null  and color != '' "> and color = #{color}</if>
            <if test="turbidity != null  and turbidity != '' "> and turbidity = #{turbidity}</if>
            <if test="PH != null  and PH != '' "> and PH = #{PH}</if>
            <if test="seston !=null and seston !='' ">and seston = #{seston}</if>
            <if test="electric !=null and electric !='' ">and electric = #{electric}</if>
            <if test="oxygen !=null and oxygen !='' ">and oxygen = #{oxygen}</if>
        </where>
        order by wid desc
        -->
    </select>

    <!--根据id查询信息-->

    <select id="selectWaterByid" parameterType="String" resultMap="WaterResult">

        <include refid="selectWater"/>
        where wid=#{wid}
        <!-- select
         a.wid as wid,
         a.type as type,
         a.area as area,
         a.temperature as temperature,
         a.color as color,
         a.turbidity as turbidity
         from iot_led a
         -->
        <!--
        <where>
            <if test="wid != null  and wid != '' ">and a.wid like CONCAT(#{wid},'%')</if>
            <if test="aname != null  and aname != '' ">and a.aname like CONCAT('%',#{aname},'%')</if>
        </where>
        -->
    </select>


    <!--向表中插入新数据-->
    <insert id="insertWater" parameterType="Water">
        insert into iot_water
        (
        <if test="wid != null and wid!='' ">wid,</if>
        <if test="type!= null  and type!= ''  ">type,</if>
        <if test="area != null  and area != ''  ">area,</if>
        <if test="temperature != null  and temperature != ''  ">temperature,</if>
        <if test="color != null  and color != ''  ">color,</if>
        <if test="turbidity != null  and turbidity != ''  ">turbidity,</if>
        <if test="PH != null and PH !='' ">PH,</if>
        <if test="seston != null and seston != '' ">seston,</if>
        <if test="electric != null and electric !='' ">electric,</if>
        <if test="oxygen !=null and oxygen !=''">oxygen,</if>
        <if test="poison !=null and poison !=''">poison,</if>
        <if test="creator !=null and creator !=''">creator,</if>
        creatime
        )
        values(
        <if test="wid != null and wid!='' ">#{wid},</if>
        <if test="type != null  and type != ''  ">#{type},</if>
        <if test="area != null  and area != ''  ">#{area},</if>
        <if test="temperature != null  and temperature != ''  ">#{temperature},</if>
        <if test="color != null  and color != ''  ">#{color},</if>
        <if test="turbidity != null  and turbidity != ''  ">#{turbidity},</if>
        <if test="PH !=null and PH !='' ">#{PH},</if>
        <if test="seston !=null and seston !='' ">#{seston},</if>
        <if test="electric !=null and electric !=''">#{electric},</if>
        <if test="oxygen !=null and oxygen !=''">#{oxygen},</if>
        <if test="poison !=null and poison !=''">#{poison},</if>
        <if test="creator !=null and creator !=''">#{creator},</if>
        sysdate()
        )
    </insert>


    <!--更新数据-->
    <update id="updateWater" parameterType="Water">
        update iot_water
        <set>
            <if test="wid != null and wid !=''">wid = #{wid},</if>
            <if test="type != null  and type != ''  ">type = #{type},</if>
            <if test="area != null  and area != ''  ">area = #{area},</if>
            <if test="temperature != null  and temperature != ''  ">temperature = #{temperature},</if>
            <if test="color != null  and color != ''  ">color = #{color},</if>
            <if test="turbidity != null  and turbidity != ''  ">turbidity = #{turbidity},</if>
            <if test="PH !=null and PH != ''">PH = #{PH},</if>

            <if test="seston != null and seston != ''">seston = #{seston},</if>
            <if test="electric != null and workingtemperature !=''">workingtemperature = #{workingtemperature},</if>
            <if test="oxygen !=null and oxygen !='' ">oxygen = #{oxygen},</if>
            <if test="poison !=null and poison !='' ">poison = #{poison},</if>

        </set>
        where wid = #{wid}
    </update>

    <!--根据id删除-->
    <delete id="deleteWaterByid" parameterType="String">
        delete from iot_water where wid = #{wid}
    </delete>

    <!--批量删除 -->
    <delete id="deleteWaterByids" parameterType="String">
        delete from iot_water where wid in
        <foreach item="wid" collection="array" open="(" separator="," close=")">
            #{wid}
        </foreach>
    </delete>

</mapper>