<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>终端编号:<input type="text" name="Led_id"/> </li>
                        <li>
                            灯状态：<select name="led_Status" th:with="type=${@dict.getType('sys_normal_disable')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            屏幕状态：<select name="screen_status" th:with="type=${@dict.getType('sys_normal_disable')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="iot:ledinfo:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="iot:ledinfo:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="iot:ledinfo:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-success" onclick="javascript:window.location.href='/iot/led/open'" shiro:hasPermission="iot:ledinfo:open">
                <i class="fa fa-plus"></i> 开灯
            </a>
            <a class="btn btn-danger" onclick="javascript:window.location.href='/iot/led/close'" shiro:hasPermission="iot:ledinfo:close">
                <i class="fa fa-remove"></i> 关灯
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('iot:ledinfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('iot:ledinfo:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var openFlag=[[${@permission.hasPermi('iot:ledinfo:open')}]];
    var closeFlag=[[${@permission.hasPermi('iot:ledinfo:close')}]];
    var prefix = ctx + "iot/led";




    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            openUrl: prefix + "/open",
            closeUrl: prefix + "/close",
            exportUrl: prefix + "/export",
            //sortName: "ledSort",
            modalName: "LED",
            search: false,
            showExport: true,
            columns: [
                {
                checkbox: true
            },
                {
                    field: 'led_id',
                    title: '终端编号',
                    sortable: true
                },
                {
                    field: 'led_status',
                    title: '灯状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'led_bright',
                    title: '灯亮度',
                    sortable: true
                },
                {
                    field: 'screen_wide',
                    title: '屏幕宽度',
                    sortable: true
                },

                {
                    field: 'screen_high',
                    title: '屏幕高度',
                    sortable: true
                },
                {
                    field: 'screen_status',
                    title: '屏幕状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + openFlag + '" href="#" onclick="javascript:window.location.href=\'/iot/led/open\'"><i class="fa fa-plus"></i>开灯</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + closeFlag + '" href="#" onclick="javascript:window.location.href=\'/iot/led/close\'"><i class="fa fa-remove"></i>关灯</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.led_id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.led_id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>


<script>
    // function open(){
    //     var config ={
    //         url: "/iot/led/open",
    //         type:"get",
    //         dataType:"json",
    //         beforeSend: function(){
    //             $.modal.loading("正在处理中，请稍后……");
    //         },
    //         success: function(result){
    //             console.log(result)
    //             $.modal.closeLoading();
    //         },
    //         error:function(data){
    //             console.log("error:"+result)
    //             $.modal.closeLoading();
    //         }
    //     };
    //     $.ajax(config);
    // }

    function open() {
        window.location.replace("/iot/led/open");
    }


    function close(){
        var config ={
            url: "/iot/led/close",
            type:"get",
            dataType:"json",
            beforeSend: function(){
                $.modal.loading("正在处理中，请稍后……");
            },
            success: function(result){
                console.log(result)
                $.modal.closeLoading();
            },
            error:function(data){
                console.log("error:"+result)
                $.modal.closeLoading();
            }
        };
        $.ajax(config);
    }
</script>