<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-led-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">灯状态：</label>
            <div class="col-sm-8">
                <input id="led_status" name="led_status" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">亮度：</label>
            <div class="col-sm-8">
                <input id="led_brigh" name="led_brigh" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">屏宽：</label>
            <div class="col-sm-8">
                <input id="screen_wide" name="screen_wide" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">屏高：</label>
            <div class="col-sm-8">
                <input id="screen_high" name="screen_high" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">屏幕状态：</label>
            <div class="col-sm-8">
                <input id="screen_status" name="screen_status" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "iot/led"
    $("#form-led-add").validate({
        rules:{
            xxxx:{
                required:true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/ledadd", $('#form-led-add').serialize());
        }
    }
</script>
</body>
</html>
