<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-pump-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">序号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="id" id="id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">型号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="tid" id="tid"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">水泵电流：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="PCurrent" id="PCurrent">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">水泵电压：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="PVoltage" id="PVoltage">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">水位高度：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="WLHeight" id="WLHeight">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">水位压力：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="WLPressure" id="WLPressure">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "iot/pump";

    $("#form-pump-add").validate({
        rules:{
            xxxx:{
                required:true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-pump-add').serialize());
        }
    }
</script>
</body>
</html>
